*{
  margin: 0px;
  padding: 0px;

}

body{
  background-color: #000000;
}

/*Designs que afetam a página toda*/
.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  background-image: linear-gradient(to right, #000000, #ff9eae, #000000);
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 27px;
  color: white;
  margin: 10px 5px;
}

@media only screen and (min-width: 800px){
  .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    background-image: linear-gradient(to right, #000000, #ff9eae, #000000);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
  }
}
  /* MENU*/
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    background-color: #ff9eae;
    color: #000000;
  }
  
  .nav-links a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .mainLogo {
    height: 60px;
  }
  
  .menu {
    display: flex;
    font-size: 18px;
    z-index: 1;
  }
  
  .menu li:hover {
    background-color: #333;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 17px;
    list-style-type: none; /* Remove as bolinhas criadas automaticamente pela tag de lista */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: bold white;
  }
  
  /* CHECKBOX HACK */
  input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: #ffffff;
  }
  
  /* RESPONSIVO*/
  @media (max-width: 768px) {
   .menu {
      display:none;
      position: absolute;
      background-color:#ff9eae;
      right: 0;
      left: 0;
      text-align: center;
      padding: 11px 0;
    }
    .menu li:hover {
      display: inline-block;
      background-color:#333;
      transition: 0.3s ease;
    }
  
    .menu {
      margin-top: 10px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
  .hamburger {
    display: block;
  }
  }
  /*MENU_FIM*/
  .winnersTga{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

.imgTga{
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 20px;
}

.tgaContainer{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

  .logoTga{
    max-width: 300px;
    max-height: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding:auto;   
  }
  p{
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 75%;
    text-align: center;
    padding: auto;
    margin: auto;
    line-height: 2.0;
  }
  /*RODAPÉ AQUI*/
.navrodape {
  display: flex;
  background-color: #ff9eae;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: bold #ffffff;
  justify-content: flex-end;
  margin: auto;  
  padding: 10px;
}

.rodape {
  display: flex;
  font-size: 20px;
  padding-right: 10px;
}

.rodape li:hover {
  background-color: #333;
  border-radius: 5px;
  transition: 0.3s ease;
}

.rodape li {
  padding: 5px 21px;
  list-style-type: none; /* Remove as bolinhas criadas automaticamente pela tag de lista */
}

.rodape li button{
  max-width: 80px;
  max-height: 40px;
  display: inline-block;
}

.rodape a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 800px){
  .navrodape {
    padding: 21px;
    background-color: #ff9eae;
    color: #fff;
  }
  
  .rodape {
    display: flex;
    font-size: 18px;
  }
  
  .rodape li:hover {
    background-color: #333;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .rodape li {
    padding: 5px 17px;
    list-style-type: none; /* Remove as bolinhas criadas automaticamente pela tag de lista */
  }
  
  .rodape a {
    color: #fff;
    text-decoration: none;
  }
}