table
{ 
    border: 2px;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: #E0218A;
    border-color: #E0218A;
    font: bold;
}