.hidrogenio{
    background-color: green;
}

.ultimacol{
    background-color: yellow;
}

.nromano{
    font-family: 'Times New Roman', Times, serif bold;
    text-align: center;
}

.tab1, .tab2 {
    border: 1px solid black;
    text-align: center;
}

.tabper{
    th, td{
        width: 30px;
        height: 30px;
        text-align: center;
    }
    border: 1px solid black;
    border-collapse: collapse;
}

