body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form{
    width: 600px;
    padding: 20px;
    border: 1px solid #E0218A;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
}
.error{
    color:rgba(255, 0, 0, 0.699);
}

.valid{
    color: green;
}